<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Проживание для иногородних</h1>


  <p>Телефоны для самостоятельного бронирования</p>
  <p>Гагарина 28, т\к "Кагау" 3-й этаж. Телефон для бронирования 8 927 288 5037- Администратор Галина(для получения льготного размещения со скидкой нужно сообщить администратору ключевое слово(сказать что вы регистрируетесь на чемпионат организатором которого являетя Аурика)).Бронируйте номера заранее.Количество номеров ограничено.</p>
  <p>Хостел  <a href="http://гость58.рф" target="_blank">Гость58</a></p>

  <%= image_tag "kagau.jpeg", :size => "669x495" %>

  <p><a href="http://www.otels.ru/penza.htm" target="_blank">Другие гостинницы в Пензе</a></p>
  <p><a href="http://www.komandirovka.ru/taxi/penza/" target="_blank">Такси в Пензе</a></p>
</div>