<span class="logo"></span>

<div class="afisha">
  <%= image_tag "dance2019.jpg", :size => "740x500" %>
  <h3><%= link_to_unless_current "Оплата за участие", payment_path %></h3>
  <h3><%= link_to_unless_current "Проживание для иногородних", help_path %></h3>

  <h3><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vQKKIkgocwoKvcdRp9dXBvsKadmz5cDgwOR8GH4Vk2n8ouc3hDuWLnxs4d36VrBRWP_ijgRCdEJXznr/pub&sa=D&ust=1515609839319000&usg=AFQjCNHcnsUIHCNTGcenLRAnBE-fZMJr3g" target="_blank">
    Возрастные категории
  </a></h3>
  <h3><a href="https://www.google.com/url?q=https://docs.google.com/document/d/e/2PACX-1vThJDcOumWb-2PWfq-tOEvyYkGlEB0xJEIH3RRVtWFBBkfG5NNjZhVrNHWx3nJLigR091QB0TOuEiy8/pub&sa=D&ust=1515609839319000&usg=AFQjCNHAfwPKWI4PWZvyvSxLR4-q_CCB4w" target="_blank">
    Основное Положение </a></h3>
  <h3><a href="https://www.google.com/url?q=https://docs.google.com/spreadsheets/d/e/2PACX-1vT6qq70f_En6MBCI7pfo1ZwQJbQmZpqahlk_JYPPkfX2SCLGrzRrMFDSuRQW4lOULq4aKqorFf9sCfA/pubhtml?gid%3D0%26single%3Dtrue&sa=D&ust=1515609839320000&usg=AFQjCNFtSeyMljlgphYaiPdboeRUu5TxBA" target="_blank">
    Регламент Соло
  </a></h3>
  <h3><a href="https://www.google.com/url?q=https://docs.google.com/spreadsheets/d/e/2PACX-1vRSAHO4RskG80OnNO0O_VoiC0iXCW2ZmLA5UWKyt_hZMGi_EXFJyZ3rJlV6JN4-zWQSIHiSjRFSkgHu/pubhtml?gid%3D0%26single%3Dtrue&sa=D&ust=1515609839321000&usg=AFQjCNEQjtpqWlALiQ5oNjM7--DM441T_A" target="_blank">
    Регламент Группы
  </a></h3>

  <h3><a target="_blank" href="http://stulnikova.ru/123/foto.html">
    Фото-Видео услуги
  </a></h3>

  <h3><a target="_blank" href="http://www.bellydanceliga.ru/index.php/2010-12-29-18-50-49/6823-v-">
      Подать заявку на участие
  </a></h3>

  <h3><a target="_blank" href="/payment_order">
    Порядок регистрации и проведения платежа за участие
  </a></h3>

  <!--<h3><a href="https://drive.google.com/open?id=0B1-BUoC5Gnj2NUZKMGJ5X2x6N20yejNSa2VWSVQ4eVlfd0hz" target="_blank"> Положение МАРКС Пенза ШОУ ТАНЕЦ </a></h3>-->
  <!--<h3><a href="https://drive.google.com/open?id=0B1-BUoC5Gnj2elVNZUlNa1lqR0VOeTV4SzdjU1NjV3lMM2NR" target="_blank"> Положение МАРКС Пенза ORIENTAL DANCE </a></h3>-->
  <!--<h3><a href="https://drive.google.com/open?id=0B1-BUoC5Gnj2YVZtdTlPYndIZDJSVDBQRWNSeExQcDdqRWpv" target="_blank"> Положение МАРКС Пенза СОВРЕМЕННЫЙ ТАНЕЦ </a></h3>-->
  <!--<h3><a href="https://drive.google.com/open?id=0B1-BUoC5Gnj2YVZtdTlPYndIZDJSVDBQRWNSeExQcDdqRWpv" target="_blank"> Положение МАРКС Пенза СОВРЕМЕННЫЙ ТАНЕЦ </a></h3>-->
</div>
<!--<div class="hello">-->





  <!--<p>Я, Аурика Цуркан.</p>-->
  <!--<p>Добро пожаловать на сайт посвященный восточным танцам</p>-->
  <!--<p>Здесь вы сможете познакомиться с различными направлениями восточного танца Пензы, зайдя в раздел-->
  <!--<%#= link_to "'Фотоальбомы'", foto_albums_path %>-->
  <!--<%#= link_to "Видео", videos_path %>-->
  <!--</p>-->
  <!--<p>Так же вы можете узнать <%#= link_to "расписание и место проведения занятий", schedule_path %>.</p>-->
  <!--<p>Здесь будут освещаться события и новости происходящие в Пензе и связанные с арабским танцем.</p>-->
  <!--&lt;!&ndash;<p>Если у вас есть желание увидеть выступление Аурики на своей свадьбе (корпоративе, банкете, вечеринке, дне рождении и т.д.)</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>Вы можете отправить свою заявку на<a href="mailto:lexa.tarasov@gmail.ru"> электронный адрес lexa.tarasov@gmail.ru</a></p>&ndash;&gt;-->

<!--</div>-->

<div id="lastNews">
  <% if @events.size > 0 %>
  <h1>Новости восточного танца в Пензе</h1>
<% @events.each do |event| %>
    <div class="content_body">
      <h3><%= link_to event.title, event %></h3>
      <%= truncate event.description.html_safe.gsub(/<\/?[^>]*>/, "") , :length => 300, :omission => '...' %>

    </div>

<% end %>
  <h3><%= link_to "Остальные новости", events_path  %></h3>
  <% end %>
  <%#= @sape.links.html_safe %>
  <% if @publications.size > 0 %>
      <h1>Публикации посвященные восточному танцу</h1>
      <% @publications.each do |publication| %>
          <div class="content_body">
            <h3><%= link_to publication.title, publication %></h3>
            <%= truncate publication.description.html_safe.gsub(/<\/?[^>]*>/, "") , :length => 300, :omission => '...' %><br/>
            Раздел: <%= link_to publication.article.name, publications_path %>
          </div>

      <% end %>
  <h3><%= link_to "Остальные статьи", publications_path  %></h3>
  <% end %>
</div>

<script type="text/javascript">

</script>
<% content_for :adverts do %>


<div class="tiser" id="link_overlay" rel="#advest" >
  <%= image_tag "aurika.jpg", :size => "260x367" %>
  <p>Gодробная информация в разделе новости >> </p>
</div>


<div class="overlay" id="advest2">
       <%= image_tag "aurika.jpg", :size => "600x800"  %>
</div>

<div class="overlay" id="advest">

  <p>Пензенская федерация восточного танца совместно с Лигой профессионалов восточного танца(г. Москва) представляет</p>

  <p> 1-2 марта 2014 г. ДК Молодежный 4 открытый рейтинговый чемпионат Пензенской области по Bellydance </p>
  <p style="color:red;">Регистрация открыта.</p>

  <p>В рамках чемпионата мастер классы лучших преподавателей по Bellydance:</p>


  <p>Президента Лиги профессионалов восточного танца
    <a href="http://www.bellydance.ru/dancers/foto17.shtml">Елены Рамазановой</a> г.Москва(Россия)</p>

  <p> Звезды восточного танца Майи Сабитовой</p>

  <p>В программе гала шоу "Магия востока" с участием звезд: Елены Рамазановой, Майи Сабитовой</p>

  <p>А так же коллективов г. Москва, г.Самара, г. Тольяти, г. Саратов, г.Пензы и других городов России. </p>

  <p>Справки по телефонам 89603165243. Регистрация на сайте <a href="http://www.bellydanceliga.ru/" target="_blank">www.bellydanceliga.ru</a>,<br/> а так же смотрите за обновлениями в разделе
    новости</p>

  <p>Условия участия в конкурсах: </p>
  <p><a href="/pravila.docx">Правила участия</a></p>



  <table>

    <tr>
      <td align="center">
        <p>Майя Сабитова</p>
        <img src="images/maya.jpg" alt="Наталия Фадда" width="270px" style="border-radius:10px; -moz-border-radius: 10px 10px 10px 10px;">

      </td>
      <td align="center">
        <p>Елена Рамазанова</p>
        <img src="images/lena.jpg" alt="Елена Рамазанова" width="250px" style="border-radius:10px; -moz-border-radius: 10px 10px 10px 10px;">

      </td>


    </tr>
  </table>
 </div>
<% end %>