<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Оплата за участие в конкурсе</h1>
  <table width="95%" border="1" align="center" bgcolor="#EEEEEE">
    <tr>
      <td width="60%"><strong>Название номинаций</strong></td>
      <td align="center" width="18%"><strong>Начинающие</strong></td>
      <td align="center" width="18%"><strong>Продолжающие</strong></td>
      <td align="center" width="18%"><strong>Кандидаты в профессионалы</strong></td>
      <td align="center" width="18%"><strong>Профессионалы</strong></td>
    </tr>
    <tr>
      <td colspan="5"><strong>Рейтинговые (Ориенталь, Фольклор)</strong></td>
    </tr>
    <tr>
      <td colspan="5"><strong>Не рейтинговые(Дебют, Шоу, Табла, Эстрадная песня, Tribal, Болливуд, Фьюжен, Танцы народов мира, Comedy Bellydance, Мужчины)</strong></td>
    </tr>
    <tr>
      <td>Бэби</td>
      <td align="center">700р (с 1 чел)</td>
      <td align="center">700р (с 1 чел)</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Дети</td>
      <td align="center">700р (с 1 чел)</td>
      <td align="center">700р (с 1 чел)</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Ювеналы</td>
      <td align="center">800р (с 1 чел)</td>
      <td align="center">800р (с 1 чел)</td>
      <td align="center">-</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Юниоры</td>
      <td align="center">800р (с 1 чел)</td>
      <td align="center">800р (с 1 чел)</td>
      <td align="center">1000р (с 1 чел)</td>
      <td align="center">-</td>
    </tr>
    <tr>
      <td>Молодежь</td>
      <td align="center">900р (с 1 чел)</td>
      <td align="center">900р (с 1 чел)</td>
      <td align="center">1200р (с 1 чел)</td>
      <td align="center">-</td>
    </tr>

    <tr>
      <td>Взрослые, Синьоры, грандсиньоры</td>
      <td align="center">900р (с 1 чел)</td>
      <td align="center">900р (с 1 чел)</td>
      <td align="center">1200р (с 1 чел)</td>
      <td align="center">1500р (с 1 чел)</td>
    </tr>

    <tr>
      <td><b>Живая табла</b></br>(Для всех возрастных категорий)</td>
      <td align="center">1000р (с 1 чел)</td>
      <td align="center">нет</td>
      <td align="center">нет</td>
      <td align="center">нет</td>
    </tr>

    <tr>
      <td colspan="5"><strong>Группы</strong></td>

    </tr>
    <tr>
      <td>Ориенталь</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Фольклор</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Шоу Bellydance</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Формейшн</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Tribal(группа от 2-х человек)</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Малые группы взрослые (шоу, ориенталь, фольклор)</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Малые группы дети (шоу, ориенталь, фольклор)</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Малые группы ювеналы (шоу, ориенталь, фольклор)</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Малые группы юниоры, молодежь (шоу, ориенталь, фольклор)</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Дуэты дети, ювеналы</td>
      <td align="center">500р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Дуэты ювеналы, юниоры</td>
      <td align="center">600р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Дуэты молодежь, взрослые</td>
      <td align="center">700р (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Дуэт дочки-матери</td>
      <td align="center">600 (с 1 чел)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong>Вновь заявленные номинации тарифицируются по расценкам соло и групп</strong></td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong>Чемпионат и мастер-классы будут проводиться - Дворец детского творчества Пенза, ул. Бекешская 14</strong></td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong>Мастер-классы  3 марта в Дворец детского творчества Пенза, ул. Бекешская 14. Для иногородних регистрация на  сайте&nbsp;</strong><a href="http://www.bellydanceliga.ru/" target="_blank"><strong>www.bellydanceliga.ru</strong></a></td>
    </tr>
    <tr>
      <td colspan="3" align="center">Мастер-класс Марины Шишковой «Шааби» 3 марта начало  в 14-30 (не рейтинг)</td>
      <td colspan="2" align="center">1800р*</td>
    </tr>
    <tr>
      <td colspan="3" align="center">Мастер-класс Татьяны Дорош и Вячеслава Павлова «Арабские ритмы и особенности хореографии под аккомпанемент дарбуки»  3 марта в 16-30 (рейтинг)</td>
      <td colspan="2" align="center">1800р*</td>
    </tr>
    <tr>
      <td colspan="5" align="center">*При посещении двух мастер-классов(без пакета), общая стоимость составит - 3200р.</td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong>Льготная стоимость мастер классов действует при оплате до  15-го февраля, после стоимость увеличится на 200 рублей за каждый мастер-класс</strong></td>
    </tr>
    <tr>
      <td colspan="5" align="center"><font color="#FF0000" ><strong>Для участников в номинациях  «Дети», «Ювеналы», «Юниоры», «Молодежь» обязательный пакет не предусматривается, оплата за  участие производится по вышеуказанным расценкам</strong></font>.
        <strong><br />
        Для взрослых (с 22 лет)  предусматривается обязательный пакет участника по всем номинациям соло  стоимостью 2500 руб.</strong>
        <br /><strong>Для кандидатов в профессионалы – 2800 руб.</strong>
        <br /><strong>Для профессионалов – 3200 руб.</strong>
        <br /><b><font color="#043af9">АКЦИЯ!</font></b><br/>
        <strong>Пакет участника включает в себя один мастер-класса на выбор и одну сольную номинацию. </strong>

      </td>
    </tr>
    <tr>
      <td colspan="5" align="center"><font ><strong>* При покупке дополнительного  мастер-класса + пакет стоимость дополнительного мастер-класса – 1600 руб.</strong></font></td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong><font >Стоимость билета на конкурсный день составляет - 300 руб. В стоимость включена фото-видео съемка с мобильных устройств. Профессиональная съемка фото и видео со штатива профессиональным оборудованием <font color="#FF0000">ЗАПРЕЩЕНА!</font></font></strong></td>
    </tr>
    <tr>
      <td colspan="5" align="center"><strong><font >Стоимость билетов на гала-шоу от 400 до 500руб</font></strong></td>
    </tr>
  </table>
    </div>