<div class="news_content" style="background-color: #DADADA;padding: 40px;margin: 10px;">
  <h1>Порядок оплаты</h1>

  <p>1. Регистрация производится на сайте http://www.bellydanceliga.ru путем заполнения специальной формы.</p>

  <p>2. В ответ Вам высылается счет на оплату за участие в мероприятии (Благотворительный взнос) на e-mail, указанный Вами при регистрации.</p>

  <p>3. Оплату необходимо произвести в течение 5-ти дней с момента получения счета.</p>

  <p>4. Оплата за участие производится на карту Сбербанка России.</p>

  <p>Номер карты: 5469 4800 1094 0473 активна до 12/21</p>

  <p>5. Проведя оплату, необходимо сделать скриншот и отправить на адрес электронной почты richie76@mail.ru с указанием Ф. И. О. и номинации за которую проведена оплата.</p>

  <p>6. После успешного проведения платежа и отправки скриншота вы получаете подтверждение в личном кабинете. После этого вам нужно загрузить музыку в личном кабинете в формате mp3.</p>

  <p>В случае неисполнения пункта 3 положения, заявка на участие снимается.</p>

</div>