<% title_tag "Расписание занятий" %>

<% meta_keywords_tag "Расписание занятий" %>

  <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ABCk_0sBAAAA370CZwIAjB99fpKMZz40MdGecRh32F6moZgAAAAAAAAAAAArDRpHVR_l-9V07nnUWM2Q_QhpmA==" type="text/javascript"></script>
   <!--<script src="http://api-maps.yandex.ru/1.1/index.xml?key=AJLa_0sBAAAAPntGEQQA3tIwbZ3hnwoTutmL12XC_bZftQoAAAAAAAAAAAAE07pui7i-Iq1mE9Tt5M79aV6Q5g=="type="text/javascript"></script>-->


<h1>Расписание занятий</h1>

<table class="schedule" cellpadding="20px">
  <tr>
    <td style="width:200px"><p>Понедельник пятница 19.00 продолжающие. Вторник четверг 19.00 группа (средний уровень)</p><p>Адрес: г.Пенза ул. Островского 8, школа №27</p></td>
    <td><div id="sheld_item1" style="width:500px;height:300px;color:black;">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NjUYn45VU3eY75RJsXAi7UzESIQYQM1J&width=500&height=300"></script>
    </div></td>
  </tr>
  <tr>
    <td style="width:200px; color:black;">
      <p>Вторник, Четверг 18-00</p>
      <p>Вторник, Четверг 19-00 группа начинающих</p>
      <p>Адрес: г.Пенза Проспект Победы 69 спорткомплекс "Горизонт" ост. "Тяжпромарматура"</p></td>
    <td><div id="sheld_item2" style="width:500px;height:300px;color:black;">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=QI-2ZavBcKgYDaiIlHrZB0InjIClR3HB&width=500&height=300"></script>
    </div></td>
  </tr>

  <tr>
    <td style="width:200px; color:black;">
      <p>Вторник, Четверг 19-00 группа начинающих</p>
      <p>Понедельник, Среда 17-30 дети</p>
      <p>Вторник, Среда 19-00, Суббота 8-30 продолжающие</p>
      <p>Адрес: г.Пенза ул. Кирова, 39 к-р Октябрь</p></td>
    <td><div id="sheld_item2" style="width:500px;height:300px;color:black;">
      <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=1hoenx1PH25uUeYfZk2X6xZ22lUVAs8r&width=500&height=300&lang=ru_RU&sourceType=constructor"></script>
    </div></td>
  </tr>


</table>

<h1>Работают группы для детей и юниоров. <br/>Дополнительная информация по телефону 99-25-01</h1>