<h1>Log Infff</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-group"><%= f.label :email %><br />
      <%= f.email_field :email, :class =>'form-control' %></div>

    <div class="form-group"><%= f.label :password %><br />
      <%= f.password_field :password, :class =>'form-control'%></div>

    <% if devise_mapping.rememberable? -%>
        <div class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="form-group"><%= f.submit 'Войти', :class =>'btn btn-primary'%></div>
<% end %>
