<% title "Список видео" %>
<div class="media_content">
  <div class="media_item_video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JJuHFnGOWuk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aJehOYPBBqM" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6b_t4EIuNYs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vvt_q3ObUsE" frameborder="0" allowfullscreen></iframe>
  </div>



  <div class="media_item_video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/QEY1gg9qG5k" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/hIcXJCzUR-8" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/4SSNZt08IWY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/BJG9o6nqYmA" frameborder="0" allowfullscreen></iframe>
  </div>


  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/hNDoCqX_Vfs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/RB7i2D6Zjb0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/Dcy1tEkYDYA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/YdqKhHENzbo" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/gUL9_spzug4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/bBFS4Wax08Y" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media_item_video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/-0QQqx4tX4w" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="media_item_video">

    <OBJECT width="470" height="353">
      <PARAM name="movie" value="http://video.rutube.ru/a33b564a5cfffbcbb57e48554767d705"></PARAM>
      <PARAM name="wmode" value="window"></PARAM>
      <PARAM name="allowFullScreen" value="true"></PARAM>
      <EMBED src="http://video.rutube.ru/a33b564a5cfffbcbb57e48554767d705"
             type="application/x-shockwave-flash"
             wmode="window"
             width="470"
             height="353"
             allowFullScreen="true" >

      </EMBED>
    </OBJECT>

  </div>
</div>
<br/>
<%# if logged_in? -%>
    <%#= link_to 'New video', new_video_path %>
<%# end %>