 <div class="menu">
    <div class="menu_list">
      <ul>
        <li>|</li>
        <li><%= link_to_unless_current "Главная", root_path %></li>
        <li>|</li>
        <!--<li ><%#= link_to_unless_current "Расписание выступлений", camp_scheld_path, :style=>"color:red;" %></li>-->
        <li><%= link_to_unless_current "Оплата за участие", payment_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Проживание для иногородних", help_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Новости", events_path %></li>
        <li>|</li>
        <!--<li><%#= link_to_unless_current "Статьи", publications_path %></li>-->
        <!--<li>|</li>-->
        <li><%= link_to_unless_current "Видео", videos_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Фотоальбомы", foto_albums_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Расписание занятий", schedule_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Заявка на выступление", new_contact_path %></li>
        <li>|</li>
        <li><%= link_to_unless_current "Обо мне", about_index_path %></li>

        <li>|</li>
        <!--<li><%#= link_to_unless_current "Виды танца", about_dance_index_path %></li>-->
        <!--<li>|</li>-->
            <%#= render :partial => 'users/user_bar' %>
        <li>|</li>
      </ul>
    </div>
  </div>
