<% title "Заявка на услуги" %>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

    <p style="color:white; margin-top:20px; margin-bottom:20px;">
      <h1>Сдесь вы можете пригласить Аурику на ваше торжество</h1>
    </p>

  <p style="color:white; margin-top:20px; margin-bottom:20px;">
    <%= f.label "Контактый телефон" %><br /><br />
    <%= f.text_field :title %>
  </p>
  <p style="color:white;">
    <%= f.text_area :description ,:class=>"ckae"%>
  </p>  <p>
    <%= f.submit 'Добавить приглашение' %>
  </p>
<% end %>
<%= link_to 'Вернуться', new_contact_path %>