/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancy
 *= require_self
 */


body {
    paddingb: 0;
    margin: 0;
    width: 100%;
    min-width: 960px;
    font-family: verdana, arial;
    font-size: 13px;
    line-height: 120%;
    background-color: #c0c0c0;
}
.content_body{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

#share{
    float: left;
    position: relative;
    top: 5px;
    width: 280px;
}

h1 {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: #777;
    margin-top: 15px;
    margin-bottom: 15px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}
#advert{width: 960px;
    margin: 10px auto;
    position: relative;
}
#advert iframe{margin: 0 auto !important;
    position: relative !important;}
.header {
    height: 100px;
    width: 960px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    background-color: #dadada; /*border-bottom: 1px solid;*/
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.menu {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

.footer {
    /*border-top: 1px solid;*/
    height: 90px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    width: 960px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

}

.logo {
    background: url("/images/main_logo.jpg") no-repeat scroll center bottom transparent;
    display: block;
    height: 216px;
}

.aurika {
    background: url("/images/aurika.png") no-repeat scroll center bottom transparent;
    display: block;
    float: right;
    height: 99px;
    position: relative;
    right: 30px;
    width: 495px;
}

.news_content {
    color: black;
}

.content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 900px;
    width: 960px;
    margin: 0 auto;
    border: 0px;
    background: url(/images/i01.jpg) repeat-x scroll center top #dadada;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.footer {
    background: url(../../../public/images/i16.gif) repeat-x scroll center top;
    height: 90px;
    clear: both;
    background-color: #cdcdcd;
}

.sub_footer {
    position: relative;
    padding-top: 8px;
}

/*.counters{
   text-align:center;
   width:25%;
   margin:0 auto;
   padding-top:20px;
} */

.footer .menu_list ul {
    list-style: none;
    text-align: center;
    display: inline;
}

.menu_list {
    margin: 0 auto;
    width: 100%;
    font-weight:bolder;
    font-size: 0.815em;
}

.menu_list a {color:black;}

.auth {
    width: 287px;
}

.menu_list ul li, .menu {
    display: inline;
}
#google1{
    float: left;
    left: 15px;
    position: fixed;
    top: 15px;
}
/*.content{*/
/*margin:0 auto;*/
/*padding:25px 0;*/
/*position:relative;*/
/*align:center;*/
/*width:70%;*/
/*}*/

.media_content {
    overflow: hidden;
}

.media_item {
    width: 200px;
    height: 200px;
    margin: 15px;
    float: left;
}

.media_page {
    margin-top: 450px;
    position: relative;
    width: 210px;
}


.content_body {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #DADADA;
}

.pagination {
    margin: 10px 0;
    clear: both;
}

.sub_content {
    width: 80%;
    margin: 0 auto 40px;
}

.foto_item ul {
    list-style: none;
}

.foto_item ul li {
    display: inline;
}

.foto_item a img {
    border: none;
}

.schedule {
    color: white;
}

.hello {
    color:white;
    width:60%;
    margin:40px auto 0;
    font-weight:bolder;
    font-size:20px;
    border-left: 5px solid white;
    border-top: 5px solid white;
    padding-left: 20px;
}

.hello p{line-height: 25px;}
.hello a {
    color:white;
}

.media_item a img {
    border: none;
}

.about_me {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 auto;
    width: 60%;
    border-left: 5px solid white;
    border-top: 5px solid white;
    padding: 20px;
}

#photo_list {
    float: left;
    margin: 20px;
}

.foto_item {
    overflow: hidden;
}

.media_item_video {
    margin:50px auto 0;
    position:relative;
    width:480px;
}

.overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    padding: 5px 20px 20px 20px;
    min-height:200px;
    border:1px solid #666;
    color:#FFFFFF;
    position: absolute !important;
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 15px 3px #000;
    -webkit-box-shadow: 0 0 15px #000;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}
.overlay a{color:#FFFFFF;}

/* close button positioned on upper right corner */
.overlay .close {
    background-image:url(/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.overlay table{margin:0 auto;}
.tiser{
    background-color: white;
    cursor:pointer;
    left: 5px;
    position: fixed;
    top: 152px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.tiser2 {
    cursor:pointer;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    float: right;
    right: 1px;
    position: fixed;
    top: 152px;
    width: 300px;
}


.overlay2 {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    padding: 5px 20px 20px 20px;
    min-height:200px;
    border:1px solid #666;
    color:#FFFFFF;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 15px 3px #000;
    -webkit-box-shadow: 0 0 15px #000;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}
.overlay2 a{color:#FFFFFF;}

/* close button positioned on upper right corner */
.overlay2 .close {
    background-image:url(/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.publications{
    float: left;
    left: -60px;
    position: relative;
    width: 550px;
}
.articles{
    float: right;
    width: 140px;
}
.articles li{list-style: none;}
.articles ul {padding-left: 15px;}
.articles a {
    color: black;
}


#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

* html #fancybox-loading {	/* IE6 */
    position: absolute;
    margin-top: 0;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('/images/fancybox.png');
}

#fancybox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 1100;
    display: none;
}

* html #fancybox-overlay {	/* IE6 */
    position: absolute;
    width: 100%;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: 1101;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
}

#fancybox-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url('/images/fancybox.png');
    background-position: -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

#fancybox_error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 7px;
    margin: 0;
}

#fancybox-content {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}

#fancybox-frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Arial;
    font-size: 12px;
    z-index: 1102;
}

.fancybox-title-inside {
    padding: 10px 0;
    text-align: center;
    color: #333;
}

.fancybox-title-outside {
    padding-top: 5px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.fancybox-title-over {
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('/images/fancy_title_over.png');
    display: block;
}

#fancybox-title-wrap {
    display: inline-block;
}

#fancybox-title-wrap span {
    height: 32px;
    float: left;
}

#fancybox-title-left {
    padding-left: 15px;
    background-image: url('/images/fancybox.png');
    background-position: -40px -90px;
    background-repeat: no-repeat;
}

#fancybox-title-main {
    font-weight: bold;
    line-height: 29px;
    background-image: url('/images/fancybox-x.png');
    background-position: 0px -40px;
    color: #FFF;
}

#fancybox-title-right {
    padding-left: 15px;
    background-image: url('/images/fancybox.png');
    background-position: -55px -90px;
    background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background-image: url('/images/blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0px;
}

#fancybox-right {
    right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('/images/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('/images/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    left: auto;
    right: 20px;
}

.fancy-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancy-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('/images/fancybox-x.png');
}

#fancy-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('/images/fancybox.png');
    background-position: -40px -162px;
}

#fancy-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('/images/fancybox-y.png');
    background-position: -20px 0px;
}

#fancy-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('/images/fancybox.png');
    background-position: -40px -182px;
}

#fancy-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('/images/fancybox-x.png');
    background-position: 0px -20px;
}

#fancy-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('/images/fancybox.png');
    background-position: -40px -142px;
}

#fancy-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('/images/fancybox-y.png');
}

#fancy-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('/images/fancybox.png');
    background-position: -40px -122px;
}

/* IE */

#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancy_shadow_nw.png', sizingMethod='scale'); }
